* {
    box-sizing: border-box;
}
img {
    width: 100%;
}
.user-thumbnail {
    max-width: 50px;
}
.pig {
    max-width: 300px;
}
.users {
    padding: 20px 15px 25px 15px;
    margin: 2px -5px 0px 0px;
    font-family: 'Sansita', sans-serif;
    font-size: 18px;
}
.logout {
    color: hotpink;
}
.btn-font {
    font-family: 'Gloria Hallelujah', cursive;
}
